<!doctype html>
<html>
  <head>
    <title>Auto-reloading Hapi pages</title>
    <link rel=stylesheet href="assets/css/test.css">
  </head>
  <body>
    This space intentionally left blank.
    <!--
    The following script is loaded from the live reload server. You should remove this
    before deploying to production. The server itself is run as an extra bonus by
    grunt-contrib-watch, and is separate from our Hapi server.
    -->
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
